@import url(//hello.myfonts.net/count/2d9234);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

*:before {
  padding: 0;
  margin: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/2D9234_0_0.eot");
  src: url("../fonts/ProximaNova/2D9234_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/2D9234_0_0.woff2") format("woff2"), url("../fonts/ProximaNova/2D9234_0_0.woff") format("woff"), url("../fonts/ProximaNova/2D9234_0_0.ttf") format("truetype");
  font-weight: normal;
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/2D9234_1_0.eot");
  src: url("../fonts/ProximaNova/2D9234_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/2D9234_1_0.woff2") format("woff2"), url("../fonts/ProximaNova/2D9234_1_0.woff") format("woff"), url("../fonts/ProximaNova/2D9234_1_0.ttf") format("truetype");
  font-weight: lighter;
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/2D9234_2_0.eot");
  src: url("../fonts/ProximaNova/2D9234_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/2D9234_2_0.woff2") format("woff2"), url("../fonts/ProximaNova/2D9234_2_0.woff") format("woff"), url("../fonts/ProximaNova/2D9234_2_0.ttf") format("truetype");
  font-weight: normal;
  font-weight: 400;
  font-style: italic; }
body {
  color: #3A3B3D;
  font-weight: 400;
  font-family: Cantata One, Georgia Pro, Georgia, Times New Roman, serif; }

h1, h2, h3, h4, h5 {
  margin-bottom: .5em;
  line-height: 1.25; }

h1 {
  color: #3A3B3D;
  font-size: 3em;
  text-transform: uppercase;
  font-family: Cantata One, Georgia Pro, Georgia, Times New Roman, serif; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

.heading-ornament:before, .heading-ornament:after {
  position: relative;
  display: inline-block;
  width: 1.75em;
  height: 1em;
  content: " ";
  top: .1em; }
.heading-ornament:before {
  background: url("../images/arrow-left.svg") center right no-repeat;
  background-size: contain;
  margin-right: .5em; }
.heading-ornament:after {
  background: url("../images/arrow-right.svg") center left no-repeat;
  background-size: contain;
  margin-left: .5em; }

p {
  margin-bottom: 1em;
  color: #616162;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  line-height: 1.75; }

.superscript {
  vertical-align: super;
  font-size: 75%; }

.smallcaps {
  font-variant: small-caps; }

a {
  background-image: -webkit-linear-gradient(transparent 50%, currentColor 50%);
  background-image: linear-gradient(transparent 50%, currentColor 50%);
  background-position: 0 .875em;
  background-size: .1em .1em;
  background-repeat: repeat-x;
  color: #4fa191;
  text-decoration: none; }
  a:hover {
    background-image: -webkit-linear-gradient(transparent 50%, currentColor 50%);
    background-image: linear-gradient(transparent 50%, currentColor 50%);
    color: #2d5d53; }

.heading-break {
  display: block; }

@media (max-width: 60em) {
  h1 {
    font-size: 2.25rem; }

  h2 {
    font-size: 2rem; }

  h3 {
    font-size: 1.75rem; }

  h4 {
    font-size: 1.5rem; }

  h5 {
    font-size: 1.25rem; }

  header h1 {
    margin: 0 1rem;
    height: 6rem;
    background-position: left center; } }
nav {
  background: #EEEEEE;
  font-family: Cantata One, Georgia Pro, Georgia, Times New Roman, serif;
  -webkit-transition: max-height linear .6s;
          transition: max-height linear .6s; }
  nav ul {
    text-align: center; }
    nav ul > li {
      position: relative;
      display: inline-block;
      margin: 0 -.25em; }
  nav a {
    color: #616162;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .875em;
    display: block;
    padding: 1em;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: none; }
    nav a:hover {
      background: none; }
  nav > ul > li > a {
    z-index: 1000;
    position: relative; }
  nav .current {
    background: #FBFBFB; }
  nav li:hover a {
    background-color: #FBFBFB; }
  nav li:hover > a {
    border-color: #EEEEEE; }
  nav a:hover {
    color: #4fa191; }

.nav-submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #FBFBFB;
  z-index: 999;
  min-width: 10em;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }
  .nav-submenu li {
    display: block;
    text-align: left;
    margin: 0; }
  .nav-submenu a {
    text-transform: none; }
  li:hover .nav-submenu {
    display: block; }

.menu-button {
  font-size: 1em;
  display: inline-block;
  text-align: center;
  z-index: 2; }
  .menu-button:hover {
    cursor: pointer; }

.menu-toggle, .menu-toggle:before, .menu-toggle:after {
  width: 2em;
  background-color: black;
  height: .3em;
  display: inline-block;
  border-radius: .3em; }

.menu-toggle {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .menu-toggle:before, .menu-toggle:after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .menu-toggle:before {
    top: 1.25em; }
  .menu-toggle:after {
    top: .625em; }

.checkbox-toggle:checked ~ header .menu-button .menu-toggle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: .625em; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:after {
    opacity: 0; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0; }

.checkbox-toggle {
  position: absolute;
  z-index: 99;
  left: -999em; }

.menu-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em 0;
  z-index: 100;
  height: 4em;
  z-index: 9999; }
  .menu-button:after {
    content: "menu";
    text-transform: uppercase;
    position: relative;
    float: left;
    text-align: center;
    font-size: .875em;
    width: 100%;
    left: 0;
    top: 1.75rem; }

@media (max-width: 60em) {
  .menu-button {
    display: block; }

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.95);
    max-height: 0;
    overflow: hidden;
    z-index: 99; }
    nav li:hover a:not(.current) {
      background-color: transparent; }
    nav a {
      padding: .75em 0;
      font-size: .875rem; }
      nav a:hover {
        background-color: transparent; }
    nav > ul {
      margin: 4.5em 0 2em; }
      nav > ul li {
        display: block;
        margin: 0; }
      nav > ul > li {
        margin-bottom: 1em; }

  .nav-submenu {
    display: block;
    position: static;
    background-color: transparent;
    box-shadow: none; }
    .nav-submenu li {
      text-align: center; }
    .nav-submenu a {
      text-transform: none; }
      .nav-submenu a:hover {
        background-color: transparent; }

  .checkbox-toggle:checked ~ nav {
    max-height: 100em; }

  .checkbox-toggle:checked ~ header .menu-button:after {
    content: 'close'; } }
footer {
  padding: 1em;
  text-align: center;
  background: #3A3B3D;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif; }
  footer p {
    margin: 0;
    font-size: .875rem;
    color: white; }

html, body {
  height: 100%; }

.page-wrap {
  margin-bottom: -4em;
  min-height: 100%; }

.page-wrap:after {
  display: block;
  content: "";
  z-index: -1; }

footer, .page-wrap:after {
  height: 4em; }

@media (max-width: 60em) {
  .page-wrap {
    margin-bottom: -4em; }

  footer, .page-wrap:after {
    height: 4em; } }
.main-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  min-height: 100%; }
  .main-content::after {
    clear: both;
    content: "";
    display: table; }
  .main-content main {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .main-content main:last-child {
      margin-right: 0; }
    @media screen and (max-width: 60em) {
      .main-content main {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 314.8459407041%; }
        .main-content main:last-child {
          margin-right: 0; } }
  .main-content aside {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    min-height: 30em; }
    .main-content aside:last-child {
      margin-right: 0; }
    @media screen and (max-width: 60em) {
      .main-content aside {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 314.8459407041%;
        min-height: auto; }
        .main-content aside:last-child {
          margin-right: 0; } }

main {
  min-height: 100%;
  padding: 2rem 1em 1em; }
  main section + section {
    margin-top: 3em; }

main.section-landing {
  text-align: center; }

main.full-width {
  width: 100%;
  padding: 1rem 0 !important; }

@media (max-width: 60em) {
  .main-content main {
    width: 100%; }
  .main-content aside {
    width: 100%;
    min-height: inherit; } }
header {
  text-align: center;
  padding: 1rem 0; }
  header a {
    display: block;
    background: none; }
    header a:hover {
      background: none; }
  header h1 {
    background: url(../images/weddingheader.png) no-repeat center top;
    background-size: contain;
    height: 4em;
    height: 10rem;
    margin: 0 auto;
    text-indent: -999em; }

.index-sub {
  color: #616162; }

.watercolor-container {
  background: url(../images/monkeypigeonwatercolor.png) no-repeat top center;
  background-size: contain;
  margin: 2rem auto;
  height: 24em; }

.monkeypigeon-container {
  background: url(../images/monkeypigeon.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 2rem;
  height: 18em; }

.section-list h5 {
  margin-top: 1.5em; }
  .section-list h5 ~ p {
    margin-left: 1em; }

.map-container {
  width: 100%;
  margin: 2rem 0;
  height: 26em; }

.sub-text {
  color: #6c6e71;
  font-size: 1.5em;
  line-height: 1.5;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif; }

.bullet-list {
  padding-left: 2em;
  color: #616162; }
  .bullet-list li {
    position: relative;
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 1.125em;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif; }
    .bullet-list li:before {
      content: "";
      display: inline-block;
      border-top: 1px solid #616162;
      width: .75em;
      left: -1.25em;
      top: .75em;
      position: absolute; }

.button-bar li {
  margin-bottom: 2em; }

.icon {
  display: inline-block;
  display: none;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative; }

.icon-link {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  display: block;
  background: none;
  font-size: 1.75em;
  line-height: 1;
  margin: 2rem 0; }
  .icon-link:hover {
    background: none; }
  .icon-link .icon {
    margin-right: .3em;
    float: left;
    font-size: 2em;
    margin-bottom: 1em; }

@media (max-width: 60em) {
  header h1 {
    height: 6rem;
    margin: 0 1rem;
    background-position: left center; } }
.flag {
  position: relative;
  background-color: #80b6db;
  padding: 1rem;
  min-height: 24rem;
  width: 18rem; }

.flag h1 {
  margin: 1rem 0; }

.flag:before, .flag:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  bottom: -4.5rem;
  border-style: solid; }

.flag:before {
  left: 0;
  border-width: 4.5rem 9rem 0 0;
  border-color: #80b6db transparent transparent transparent; }

.flag:after {
  right: 0;
  border-width: 0 9rem 4.5rem 0;
  border-color: transparent #80b6db transparent transparent; }

aside {
  padding: 0 1rem;
  height: 100%; }
  aside p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    color: white; }

.aside-content {
  padding: 1rem 1rem 2em;
  margin-top: 2rem;
  border-left: 1px solid #616162;
  color: white; }
  .aside-content h3, .aside-content h4, .aside-content h5 {
    margin-top: 1.5em; }
    .aside-content h3:first-child, .aside-content h4:first-child, .aside-content h5:first-child {
      margin-top: 0; }

.aside-content.flag {
  padding: 2rem 1rem 2em;
  margin-top: 0; }

.flag {
  border: 0; }
  .flag a {
    color: white; }
    .flag a:hover {
      color: #212f62; }

@media (max-width: 60em) {
  .aside-content.flag {
    background-color: white;
    width: auto;
    padding: 0 1rem 1rem;
    min-height: 0;
    margin-bottom: 1rem;
    border-left: 1px solid #616162; }
    .aside-content.flag h1, .aside-content.flag h2, .aside-content.flag h3, .aside-content.flag h4, .aside-content.flag h5 {
      color: #3A3B3D; }
    .aside-content.flag a {
      color: #1b6395; }
      .aside-content.flag a:hover {
        color: #0b2a3f; }
    .aside-content.flag p {
      color: #3A3B3D; }
    .aside-content.flag:after, .aside-content.flag:before {
      content: none; } }
.section-menu h1, .section-menu h2, .section-menu h3, .section-menu h4 {
  text-align: center; }
.section-menu h1 {
  color: #3A3B3D; }
.section-menu h2 {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1.5em;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif; }

.list-menu {
  text-align: center;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  max-width: 18em;
  margin: 0 auto 3em; }
  .list-menu li {
    margin-bottom: 2.5em; }
  .list-menu h4 {
    position: relative;
    margin-bottom: .25em;
    color: #616162;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.25em;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    line-height: 1.5; }

@media (max-width: 60em) {
  .list-menu {
    max-width: 16em;
    font-size: 90%; } }
.bev-score {
  position: absolute;
  display: inline-block;
  margin-left: .75em;
  padding: .25em .5em .2em;
  border-radius: 50%;
  background: #F1EF8F;
  color: #3A3B3D;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-size: .875rem;
  line-height: 1.75;
  letter-spacing: 0; }
  .bev-score--wide {
    padding: .5em .5em .45em;
    font-size: .75rem;
    line-height: 1.5; }
  .bev-score:hover {
    background: #F1EF8F; }

.menu-description {
  position: relative;
  color: #616162;
  font-style: italic;
  font-size: .875em;
  font-family: Cantata One, Georgia Pro, Georgia, Times New Roman, serif;
  line-height: 1.5; }
