@import url(//hello.myfonts.net/count/2d9234);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

*:before {
  padding: 0;
  margin: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/2D9234_0_0.eot");
  src: url("../fonts/ProximaNova/2D9234_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/2D9234_0_0.woff2") format("woff2"), url("../fonts/ProximaNova/2D9234_0_0.woff") format("woff"), url("../fonts/ProximaNova/2D9234_0_0.ttf") format("truetype");
  font-weight: normal;
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/2D9234_1_0.eot");
  src: url("../fonts/ProximaNova/2D9234_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/2D9234_1_0.woff2") format("woff2"), url("../fonts/ProximaNova/2D9234_1_0.woff") format("woff"), url("../fonts/ProximaNova/2D9234_1_0.ttf") format("truetype");
  font-weight: lighter;
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/2D9234_2_0.eot");
  src: url("../fonts/ProximaNova/2D9234_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/2D9234_2_0.woff2") format("woff2"), url("../fonts/ProximaNova/2D9234_2_0.woff") format("woff"), url("../fonts/ProximaNova/2D9234_2_0.ttf") format("truetype");
  font-weight: normal;
  font-weight: 400;
  font-style: italic; }
body {
  font-family: Cantata One, Georgia Pro, Georgia, Times New Roman, serif;
  color: #3A3B3D;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  margin-bottom: .5em;
  line-height: 1.25; }

h1 {
  font-size: 3em;
  font-family: Cantata One, Georgia Pro, Georgia, Times New Roman, serif;
  color: #3A3B3D; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

p {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  line-height: 1.75;
  margin-bottom: 1em; }

nav {
  background: #EEEEEE;
  font-family: Cantata One, Georgia Pro, Georgia, Times New Roman, serif;
  transition: max-height linear .6s; }
  nav ul {
    text-align: center; }
    nav ul li {
      position: relative;
      display: inline-block;
      margin: 0 .5em; }
  nav a {
    color: #616162;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .875em;
    display: block;
    padding: 1em;
    border: 0; }
  nav .current {
    background: #FBFBFB; }
  nav li:hover a {
    background-color: white; }
  nav a:hover {
    color: #3B698C; }

.nav-submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 99999; }
  .nav-submenu li {
    display: block;
    text-align: left;
    margin: 0; }
  li:hover .nav-submenu {
    display: block; }

.menu-button {
  font-size: 1em;
  display: inline-block;
  text-align: center;
  z-index: 2; }
  .menu-button:hover {
    cursor: pointer; }

.menu-toggle, .menu-toggle:before, .menu-toggle:after {
  width: 2em;
  background-color: black;
  height: .3em;
  display: inline-block;
  border-radius: .3em; }

.menu-toggle {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  .menu-toggle:before, .menu-toggle:after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  .menu-toggle:before {
    top: 1.25em; }
  .menu-toggle:after {
    top: .625em; }

.checkbox-toggle:checked ~ header .menu-button .menu-toggle {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: .625em; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:after {
    opacity: 0; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0; }

.checkbox-toggle {
  position: absolute;
  z-index: 99;
  left: -999em; }

.menu-button {
  display: none;
  position: absolute;
  top: .5rem;
  right: 1.5rem;
  z-index: 100; }
  .menu-button:after {
    content: "menu";
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: .875em;
    width: 4rem;
    left: -50%;
    top: 100%;
    margin-top: 2rem; }

@media (max-width: 768px) {
  .menu-button {
    display: block; }

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.95);
    max-height: 0;
    overflow: hidden; }
    nav a {
      padding: .75em 0;
      font-size: .875rem; }
    nav > ul {
      margin: 3em 0 2em; }
      nav > ul li {
        display: block;
        margin: 0; }
      nav > ul > li {
        margin-bottom: 1em; }

  .nav-submenu {
    display: block;
    position: static;
    background-color: transparent; }
    .nav-submenu li {
      text-align: center; }
    .nav-submenu a {
      text-transform: none; }

  .checkbox-toggle:checked ~ nav {
    max-height: 100em; }

  .checkbox-toggle:checked ~ header .menu-button:after {
    content: 'close'; } }
footer {
  padding: 1em;
  text-align: center;
  background: #3A3B3D;
  color: white;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif; }
  footer p {
    margin: 0;
    font-size: .875rem; }

html, body {
  height: 100%; }

.page-wrap {
  margin-bottom: -4em;
  min-height: 100%; }

.page-wrap:after {
  display: block;
  content: "";
  z-index: -1; }

footer, .page-wrap:after {
  height: 4em; }

@media (max-width: 768px) {
  .page-wrap {
    margin-bottom: -4em; }

  footer, .page-wrap:after {
    height: 4em; } }
header {
  text-align: center;
  padding: 1rem 0; }
  header h1 {
    background: url(../images/weddingheader.png) no-repeat center top;
    background-size: contain;
    height: 10rem;
    margin: 0 auto;
    text-indent: -999em; }

.main-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  min-height: 100%; }
  .main-content::after {
    clear: both;
    content: "";
    display: table; }
  .main-content main {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .main-content main:last-child {
      margin-right: 0; }
  .main-content aside {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .main-content aside:last-child {
      margin-right: 0; }

main {
  min-height: 100%;
  padding: 2rem 1em 1em; }
  main section + section {
    margin-top: 3em; }

a {
  color: #3B698C;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #1d3344; }

main.section-landing {
  text-align: center; }

main.full-width {
  width: 100%;
  padding: 1rem 0 !important; }

.watercolor-container {
  background: url(../images/monkeypigeonwatercolor.png) no-repeat top center;
  background-size: contain;
  margin: 2rem auto;
  height: 24em; }

.section-list h5 {
  margin-top: 1.5em; }
  .section-list h5 ~ p {
    margin-left: 1em; }

.map-container {
  width: 100%;
  margin: 2rem 0;
  height: 26em; }

.flag {
  position: relative;
  background-color: #3B698C;
  color: white;
  padding: 1rem;
  min-height: 24rem;
  width: 20rem; }

.flag h1 {
  margin: 1rem 0; }

.flag:before, .flag:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  bottom: -5rem;
  border-style: solid; }

.flag:before {
  left: 0;
  border-width: 5rem 10rem 0 0;
  border-color: #3B698C transparent transparent transparent; }

.flag:after {
  right: 0;
  border-width: 0 10rem 5rem 0;
  border-color: transparent #3B698C transparent transparent; }

aside {
  padding: 0 1rem;
  height: 100%; }
  aside p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    color: black; }

.aside-content {
  padding: 2rem 1rem 2em; }
  .aside-content h1 {
    color: white; }
  .aside-content h3 {
    margin-top: 1.5em; }
    .aside-content h3:first-child {
      margin-top: 0; }

.flag a {
  color: white; }
  .flag a:hover {
    color: #0e1820; }

@media (max-width: 768px) {
  .aside-content.flag {
    background-color: white;
    width: auto;
    padding: 0 0 2em; }
    .aside-content.flag h1, .aside-content.flag h2, .aside-content.flag h3, .aside-content.flag h4, .aside-content.flag h5 {
      color: #3A3B3D; }
    .aside-content.flag a {
      color: #3B698C; }
      .aside-content.flag a:hover {
        color: #1d3344; }
    .aside-content.flag:after, .aside-content.flag:before {
      content: none; } }
.sub-text {
  color: #6c6e71;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.5; }

.bullet-list {
  padding-left: 2em; }
  .bullet-list li {
    position: relative;
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 1.125em;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    color: black; }
    .bullet-list li:before {
      content: "";
      display: inline-block;
      border-top: 1px solid #616162;
      width: .75em;
      left: -1.25em;
      top: .75em;
      position: absolute; }

@media (max-width: 768px) {
  .main-content main {
    width: 100%; }
  .main-content aside {
    width: 100%; }

  header h1 {
    height: 6rem;
    margin: 1rem;
    background-position: left center; } }
