/* Nirvana Custom CSS */ 

body {
background-color: #ffffff;
padding-top: 30px;
} 

#topbar {
display: none;
} 

nav#access {
margin-top: 30px;
background-color: #eeeeee;
} 

 /* Remove opacity on hover -- Zach */
img:hover {
opacity: 1;
} 

 /* Add "menu" after the hamboiger -- Zach */
#nav-toggle span:after {
content: "MENU";
margin-left: .3em;
font-size: 1.5em;
} 

/* Hide Theme Link -- Zach*/
#footer2-inside em {
display: none !important;
} 

/* Center h2 for entry titles */
.entry-title {
text-align: center;
} 