footer {
	padding: 1em;
	text-align: center;
	background: $charcoal;
	color: white;
	font-family: $font-stack-sans-serif;
	
	p {
    	margin: 0;
    	font-size: .875rem;
	}
}

@import 'footer-sticky';
