nav {
	$link-color: $grey;
	background: $light-grey;
	font-family: $font-stack-serif;
	transition: max-height linear .6s;
	
	ul {
		text-align: center;
				
		li {
    		position: relative;
			display: inline-block;
			margin: 0 .5em;
		}
	}
	
	a {
		color: $link-color;
		text-transform: uppercase;
		text-decoration: none;
		font-size: .875em;
		display: block;
		padding: 1em;
		border: 0;
	}
	
	.current {
    	background: $super-light-grey;
	}
	
	li:hover {
    	a {
        	background-color: white;
    	}
	}
	
	a:hover {
		color: $blue;
	}
}

.nav-submenu {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
   	z-index: 99999;

    li {
        display: block;
        text-align: left;
        margin: 0;
    }
    
    li:hover & {
        display: block;
    }
}

@import 'button-mobile-menu';
.checkbox-toggle {
    position: absolute;
    z-index: 99;
    left: -999em;
}

.menu-button {
    display: none;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    z-index: 100;
    
    &:after {
        content: "menu";
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        font-size: .875em;
        width: 4rem;
        left: -50%;
        top: 100%;
        margin-top: 2rem;
    }
}

@media (max-width: $screen-sm-min) { 
    .menu-button {
        display: block;        
    }
    
    nav {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: transparentize($light-grey, .05);
        max-height: 0;
        overflow: hidden;
        
        a {
            padding: .75em 0;
            font-size: .875rem;
        }
        
        > ul {
            margin: 3em 0 2em;
            
            li {
                display: block;
                margin: 0;
            }
            
            > li {
                margin-bottom: 1em;
            }            
        }
    }
    
    .nav-submenu {
        display: block;
        position: static;
        background-color: transparent;
        
        li {
            text-align: center;
        }
        
        a {
            text-transform: none;
        }
    }
    
    .checkbox-toggle:checked ~ nav {
        max-height: 100em;
    }
    
    .checkbox-toggle:checked ~ header .menu-button {
        &:after {
            content: 'close';
        }
    }
}