@import 'ProximaNova';

$font-stack-sans-serif: 'ProximaNova', Helvetica, Arial, sans-serif;
$font-stack-serif: Georgia Pro, Georgia, Times New Roman, serif;

body {
	font-family: $font-stack-sans-serif;
}
