@import 'ProximaNova';
@import url(http://fonts.googleapis.com/css?family=Cantata+One);

$font-stack-sans-serif: 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-stack-serif: Cantata One, Georgia Pro, Georgia, Times New Roman, serif;

body {
	color: $charcoal;
	font-weight: 400;
	font-family: $font-stack-serif;
}

h1, h2, h3, h4, h5 {
    margin-bottom: .5em;
    line-height: 1.25;
}

h1 {
    color: $charcoal;
    font-size: 3em;
    text-transform: uppercase;
    font-family: $font-stack-serif;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

.heading-ornament {
    &:before, &:after {
        position: relative;
        display: inline-block;
        width: 1.75em;
        height: 1em;
        content: " ";
        top: .1em;
    }
    
    &:before {
        background: url('../images/arrow-left.svg') center right no-repeat;
        background-size: contain;
        margin-right: .5em;
    }

    &:after {
        background: url('../images/arrow-right.svg') center left no-repeat;
        background-size: contain;
        margin-left: .5em;
    }
}

p {
    margin-bottom: 1em;
    color: $grey;
    font-family: $font-stack-sans-serif;
    line-height: 1.75;
}

.superscript {
    vertical-align: super;
    font-size: 75%;
}

.smallcaps {
    font-variant: small-caps;
}

a {
    background-image: linear-gradient(transparent 50%, currentColor 50%);
    background-position: 0 .875em;
    background-size: .1em .1em;
    background-repeat: repeat-x;
    color: $green;
    text-decoration: none;
    
    &:hover {
        background-image: linear-gradient(transparent 50%, currentColor 50%);
        color: darken($green, 20%);
    }
}


.heading-break {
    display: block;
}

//Mobile Style ... break point from Bootstrap
@media (max-width: $screen-sm-min) {     
    h1 {
        font-size: 2.25rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }
   
    header {
        h1 {
            margin: 0 1rem;
            height: 6rem;
            background-position: left center;
        }
    }
}
