@import 'reset';

@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/grid';

body {
	font-family: Georgia, serif;
}

header {
	height: 24em;
	background-image: url('../images/monkeypigeon.jpg');
	background-position-y: 20%;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	margin: 1em 5rem;
	font-size: 5em;
}

h2 {
	margin: .25em 5rem;
	font-style: italic;
	font-size: 3em;
}

@import 'footer-sticky';

//Mobile Style ... break point from Bootstrap
@media (max-width: $screen-sm-min) { 
	
	h1 {
		font-size: 3em;
		margin: .5em 2rem;
	}
	
	h2 {
		font-size: 1.5em;
		margin: 0 2rem;
	}

}