@import "bourbon", "neat";
@import 'reset';

@import 'bootstrap/variables';
@import 'variables';

@import 'typography';
@import 'nav';
@import 'footer';

header {
    text-align: center;
    padding: 1rem 0;
    
    h1 {
        background: url(../images/weddingheader.png) no-repeat center top;
        background-size: contain;
        height: 10rem;
        margin: 0 auto;
        text-indent: -999em;
    }
}

.main-content {
    @include outer-container;
    padding: 0 1rem;
    min-height: 100%;
    
    main {
        @include span-columns(8);
    }
    
    aside {
        @include span-columns(4);
    }
}

main {
    min-height: 100%;
    padding: 2rem 1em 1em;
        
    section + section {
        margin-top: 3em;
    }
}

a {
    color: $blue;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
    cursor: pointer;
    
    &:hover {
        color: darken($blue, 20%)
    }
}


main.section-landing {
     text-align: center; 
}

main.full-width {
    @include fill-parent();
    padding: 1rem 0 !important;
}

.watercolor-container {
    background: url(../images/monkeypigeonwatercolor.png) no-repeat top center;
    background-size: contain;
    margin: 2rem auto;
    height: 24em;
}

.section-list {
    h5 {
        margin-top: 1.5em;
        
        ~ p {
            margin-left: 1em;
        }
    }
}

.map-container {
    //background-color: pink;
    width: 100%;
    margin: 2rem 0;
    height: 26em;
}

@import 'aside';

.sub-text {
    color: lighten($charcoal, 20%);
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.5;
}

.bullet-list {
    padding-left: 2em;
    
    li {
        position: relative;
        margin-bottom: 1em;
        line-height: 1.5;
        font-size: 1.125em;
       	font-family: $font-stack-sans-serif;
       	color: $black;
        
        &:before {
            content: "";
            display: inline-block;
            border-top: 1px solid $grey;
            width: .75em;
            left: -1.25em;
            top: .75em;
            position: absolute;
        }
    }     
}

//Mobile Style ... break point from Bootstrap
@media (max-width: $screen-sm-min) { 
    .main-content {
        
        main {
            @include fill-parent();
        }
        
        aside {
            @include fill-parent();
        }
    }
    
    header {
        h1 {
            height: 6rem;
            margin: 1rem;
            background-position: left center;
        }
    }
}