@import 'reset';

@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/grid';

body {
	font-family: Georgia, serif;
}

header {
	height: 24em;
	background-image: url('../images/monkeypigeon.jpg');
	background-position-y: 20%;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	margin: 5rem 5rem 2rem;
	font-size: 5em;
}

h2 {
	margin: .25em 5rem;
	font-style: italic;
	font-size: 3em;
}

@import 'footer-sticky';