.top_header, .bottom_footer {
    /* background: #FAFAFA; */
	border-bottom: thin solid #ccc; 
	
	position:relative; 
	padding: 10px 0px;
	z-index: 9999;
	display: none;
	/*
	position:relative;
	*/
}
.top_header .span4, .bottom_footer .span4 {
    float: right!important;
    padding-top: 10px;
}
.bottom_footer .span6 {
    float: left!important;
    padding-top: 10px;
}
.navbar{ 
	/*
	top: 0px!important;
	position: fixed!important;
	*/
	position:relative;
	z-index: 9999;
	width: 100%;
}
.bottom_footer {
    background: #FAFAFA;
	border-bottom: thin solid #ccc;  
	z-index: 9999; 
	padding: 0 0 10px; 
	bottom:0px;
	position: absolute;
}
.non-fullwidth-site .primary, .non-fullwidth-site .primary, .non-fullwidth-site #footer{ 
	width: 1170px;
	margin: 0 auto;
}
.btn-social b{
color: rgb(255, 255, 255); 
background: none repeat scroll 0% 0% rgb(204, 204, 204); 
border-radius: 5px ! important;
 padding: 4px;
 font-size: 18px;
}

#footer {
    padding-bottom: 50px;
}
.footer-nav{

}
.footer-nav li{
	float: left;
    margin: 0 10px;
}
.footer-nav li a{
	border: none;
}
.footer-nav li a:hover{
	border-bottom: thin solid;
}