/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 1920px) {
	body.mobile {-webkit-text-size-adjust: 100%;} /* Iphone browser fix*/
	body.mobile .column-image h3 {display:block;bottom:20px;opacity:.9;}
}

@media (max-width: 800px) {
	#header, #access, #branding, .topmenu { width:100%; }
	#header-full, #footer { min-width: 100%; }
	#wrapper, #colophon,  #main, article.post, #container, #linky {width: auto;}
	#branding, #bg_image { min-height:100px; }

	#bg_image {width:100%;}
	#header-container > div {height:100%;}
	
	#header-widget-area { left: 0; position: relative; top: 0;width: 100%; }
	#header-widget-area .yoyo > li { margin-bottom: 2px; }

	a#logo { height:100%; display: block !important; }
	a#logo img { width:auto; max-width:90%;height:80%; }
	.safari a#logo img { max-height: 80px;height:auto; }

	.nivo-caption h2 {margin-bottom:5px;}

	#slefts, #srights {display:none;}

	#access .menu-header, div.menu {margin:0 5px;}
	#container[class*='column'] #primary, #container[class*='column'] #secondary,
	#container[class*='column'] #content {width:100%;float:none;margin:0;clear:both;}
	#container[class*='column'] #content {margin-bottom:20px !important;}

	#slider {width:auto;height:auto;}

	#front-columns > div {width:49%;}
	#front-columns > div:nth-child(2n+2){margin-right:0;}
	.column-image img { height:auto; }
	.column-image > div { }
	#column3 {clear:left;}

	#content img, #content article.post img, #content article .wp-caption, article embed {
		max-width:100% !important;
	}

	#site-title span a {font-size:35px;line-height: 40px;}
	#site-description {font-size:15px;line-height: 20px;}

	#site-title, #site-description { margin-left: 5px; }

	article.post, article.page {padding:20px 10px 10px;}
	article.sticky {padding:20px 5px 5px;border-width:5px;}
	.footertwo .widget-area, .footerthree .widget-area, .footerfour .widget-area {width:98%;margin-left:1%;}
	body {-webkit-text-size-adjust: 100%;} /* Iphone browser fix*/
	
	#content .entry-content h1 { font-size: 26px; }
	#content .entry-content h2 { font-size: 24px; }
	#content .entry-content h3 { font-size: 21px; }
	#content .entry-content h4 { font-size: 19px; }
	#content .entry-content h5 { font-size: 16px; }
	#content .entry-content h6 { font-size: 14px; }
	#content tr th, #content thead th, #content tr td { padding: 3px 5px; font-size: 0.9em; }
}

@media (max-width: 650px) {
	body, #content, #content p, #content ul, #content ol,#content code, #content pre, #content blockquote {
		font-size: 13px !important;}

	#branding {	height:auto; }
	a#logo img {margin-top:-25px;max-height:75%;max-width:90%;width:auto;height:auto;}
	#header-container > div { margin-top:45px; }
	.topmenu ul li a { font-size: 0.9em; }

	#site-title span a {font-size:25px;line-height: 30px;}
	#site-description {margin-top:3px;font-size:12px;line-height: 15px;}
	#front-text1 h1, #front-text2 h1 {font-size:2em;line-height:1.3em;}
	#front-text1 h1{margin-top:20px;}
	#front-text2 h1{margin-bottom:0px;}
	#frontpage blockquote { font-size: 1.0em; line-height: 1.6em; padding: 10px; }

	.slider-wrapper {margin:15px auto;}
	.nivo-caption {padding:8px;}
	.nivo-caption h2 {margin-bottom:1px;font-size:16px;}

	article.intro .entry-content {font-size: 12px;}
	.entry-title {font-size: 21px;}
	.featured-post .entry-title {font-size: 14px;}
	.singular .entry-title {font-size: 28px;}
	.entry-meta a , .entry-meta, .comments-link{
		font-size: 10px !important;
	}
	#content .entry-title {font-size:20px !important;}
	#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
		margin-left:0 !important;}

	#front-columns > div { margin-bottom: 10px; }

	.widget-area a:link, .widget-area a:visited { font-size:12px !important; }
	.theme-default .nivo-caption { font-size:12px; }
	#content p, #content ul, #content ol, .sidey, .sidey a, table, table td { line-height: 1.4em; }

	.slider-bullets .nivo-controlNav a { width: 7px; height: 7px; margin-top: 4px; }
	.theme-default .nivo-controlNav:before, .theme-default .nivo-controlNav:after { border-top-width: 20px; }
	.theme-default .nivo-controlNav { height: 20px; }
	.nivo-directionNav { display: none; }

	#header .socials a { width: 20px; height: 20px; }
	#header .socials a img { width: 20px; height: 20px; }

	.nivo-caption {position:relative;padding:10px 5px 5px;background:transparent;color:inherit;}
	.nivo-caption a{color:inherit;}
	div.post, div.page, div.hentry, .yoyo > li, #comments {padding:10px;}
	#entry-author-info, .page-header {padding:10px 0;} #author-info {padding:10px;}

	#main {margin-top:0px;}	
	#nav-toggle { display: block; float: left; margin: 0 auto; cursor:pointer;
				  width: 92%; height: 40px; padding: 2px 4%;} 
	#nav-toggle span { }
	#nav-toggle span:before { content: "\e820"; font-family: "elusive"; font-size: 16px; height: 40px; line-height: 40px; }
	#access { display: none; margin-top: 0; padding-bottom: 5px; }
	#access .menu ul, #access .menu ul li { width: 100%; margin:0; }
	#access > .menu li ul { position: inherit; margin-top: 0 !important; }
	#access > .menu ul ul ul { width: 95%; left: 5%; }
	#access > .menu > ul > li > a > span { border-width: 0 0 1px 0; border-style: solid; border-color: rgba(128,128,128,0.3); }	
	#access > .menu ul li > a:not(:only-child) span:after {
	font-family:"Elusive"; content: '\e80a';
    position: absolute; right: 5px; top: 10px; z-index: 251;
	-moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; 
	-webkit-transition:all .2s ease-in-out; transition:all .2s ease-in-out; }
	#access > .menu ul li:hover > a:not(:only-child) span:after { top:20px; opacity:0; }
	#access > .menu ul li > a:not(:only-child) span { padding-right:18px; }
	
}


@media (max-width: 480px) {
	body, #content, #content p, #content ul, #content ol,#content code, #content pre, #content blockquote {
		font-size: 12px !important;}

	#site-title span a{font-size: 18px;line-height:20px;}
	#site-description {	font-size: 11px;line-height:10px;}
	.nivo-caption h2 {margin-bottom:0px;font-size:14px;}

	body {padding: 0;}
	#page {margin-top: 0;}
	.magazine-layout #content article.post, .magazine-layout .search #content article{margin:5px 0;width:100%;}
	.topmenu ul {display:table;margin:0 auto;float:none;}
	.theme-default .nivo-directionNav a {display:none;}
	.theme-default .nivoSlider {background-image:none;}
	#toTop {bottom:5px;right:5px;}
}

@media (max-width: 400px) {
#front-columns > div { width:100%; margin-bottom: 3px; }

}